
:root{
    --white: #fff;
    --background: #f0f2f5;
    --hover-shadow: #f2f2f2;
    --box-shadow: rgba(0,0,0, 0.2)}
*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
/*Main Container*/
.container-main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 56px 1fr;
    grid-template-columns: 1fr;
}
.container-body{
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.container-content{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 2fr;
}
.container-content img{
    max-width: 100%;
}
.container-background {
    display: grid;
    grid-template-columns: 10px 1fr 15px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-height: 60vh;
}

    .background-profile { grid-area: 4 / 2 / 7 / 3;
    border: 3px solid rgb(40, 238, 205);
    border-radius: 50%;
    max-height: 100%;
 }
    .background { 
        grid-area: 1 / 1 / 5 / 7;
        background-size: cover;
    }
    .profile-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-area: 5/4/6/6;
        justify-self: space-between;
        align-self: center;
        font-weight: 700;
        font-size: xx-large;
    }
    .profile-details{
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        grid-area: 6/4/7/6;
        justify-self: space-between;
    }
    .square_btn {
        justify-self: center;
        align-self: center;
        font-weight: bold;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: linear-gradient(rgb(40, 238, 205),rgb(20, 197, 168));
        transition: .4s;
        grid-area: 5/6/6/7;
      }
    
    .square_btn:hover {
        background: #1ec7bb;
    }
    /*============Wall====================*/
    .container-wall{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit,minmax(240px, 1fr))
    }

    /*================Navbar==================*/
.navbar-main {
    font-size: 1em;
    background-color: #fffffff5;
    display: flex;
    flex-direction:row;
    align-items: center;
    position: sticky;
    min-height: 56px;
    justify-content: space-between;
}
.navbar-left{
    display: flex;
    align-items: center;
    margin-left: 1%;
    justify-content: flex-start;
    flex-basis: 30%;
}
.navbar-middle{
display: flex;
align-items: center;
justify-content: space-between;
flex-basis: 25%;
}
.navbar-right{
    
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-basis: 25%;  
}
.navbar-right .img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar-right  .img img{
    max-width: 48px;
    border-radius: 50%;
    margin-right: 10%;
    
}
.fa-question-circle{
    background: linear-gradient(rgb(40, 238, 205),rgb(20, 197, 168));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-check-double{
    background: linear-gradient(rgb(40, 238, 205),rgb(20, 197, 168));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.searchbox{
    display:flex;
    align-items: center;
    padding-left: 10px;
    border: 3px;
    margin-left: 10px;
    background-color: rgba(41, 41, 41, 0.096);
    min-height: 38px;
    min-width: 220px;
    border-radius: 20px;
}
.searchbox input{
    background: none;
    border: none;
    outline: none;
    margin-left: 2px;
}
/*======post*=========/
